<div id="leaderboard">
  <div id="leaders">
    <% heroes.each do |hero| %>
      <a href="<%= user_path(hero) %>" class="leader">
        <%= image_tag hero.image.gsub('type=square','width=80&height=80'), :alt => hero.name %>
      </a>
    <% end %>
  </div>
  <div id="leaderboard-description">
    Durch ihre fantastische Geschenkideen haben
    <%= heroes[0].name %>, <%= heroes[1].name %> und <%= heroes[2].name %> sich den Titel <b>– Held des Monats –</b> verdient!
  </div>
</div>