<div id="users">

  <h2>Hey <%= current_user.name %>, Du bist jetzt ein Geschenkeheld!</h2>

  <div id="signed-up">
    <p>
      Wir freuen uns auf Deine tollen Geschenkideen und<br />wünschen Dir ganz viel Spaß
      auf Geschenkeheld...
      <br />
      – Dein GeschenkeHeld Team
    </p>

    <a href="/neue-geschenkideen" class="btn btn-red">Hier geht's zu den neusten Geschenken!</a>
  </div>

</div>

<%= content_for :javascript do %>

  <script type="text/javascript">
    $(document).ready(function() {
      <% if current_user %>
        mixpanel.track('Neues Mitglied');
        mixpanel.alias("<%= "#{current_user.id}-#{current_user.name}" %>");
        mixpanel.identify("<%= "#{current_user.id}-#{current_user.name}" %>");
      <% end %>
    });
  </script>

<% end %>

<%= content_for :head do %>
  <script type="text/javascript">
  var fb_param = {};
  fb_param.pixel_id = '6007350609410';
  fb_param.value = '0.00';
  (function(){
    var fpw = document.createElement('script');
    fpw.async = true;
    fpw.src = (location.protocol=='http:'?'http':'https')+'://connect.facebook.net/en_US/fp.js';
    var ref = document.getElementsByTagName('script')[0];
    ref.parentNode.insertBefore(fpw, ref);
  })();
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6007350609410&amp;value=0" /></noscript>
<% end %>