<div class="category">
  <h4>Anlässe</h4>
  <div class="checkbox">
    <%= criteria_checkbox model_name, "geburtstag", object %>
  </div>
  <div class="checkbox">
    <%= criteria_checkbox model_name, "weihnachten", object %>
  </div>
  <div class="checkbox">
    <%= criteria_checkbox model_name, "valentinstag", object %>
  </div>
  <div class="checkbox">
    <%= criteria_checkbox model_name, "hochzeit", object %>
  </div>
  <div class="checkbox">
    <%= criteria_checkbox model_name, "muttertag", object %>
  </div>
  <div class="checkbox">
    <%= criteria_checkbox model_name, "vatertag", object %>
  </div>   
  <div class="checkbox">
    <%= criteria_checkbox model_name, "kommunion", object, "Kommunion & Konfi." %>
  </div>
  <div class="checkbox">
    <%= criteria_checkbox model_name, "geburt", object %>
  </div>
  <div class="checkbox">
    <%= criteria_checkbox model_name, "taufe", object %>
  </div>             
</div> 
<div class="category">
  <h4>Personen</h4>
  <div class="checkbox">
    <%= criteria_checkbox model_name, "freunde", object, "Freunde & Bekannte" %>
  </div>
  <div class="checkbox">
    <%= criteria_checkbox model_name, "freund", object, "Ehemann / Freund" %>
  </div>
  <div class="checkbox">
    <%= criteria_checkbox model_name, "freundin", object, "Ehefrau / Freundin" %>
  </div>
  <div class="checkbox">
    <%= criteria_checkbox model_name, "mutter", object, "Mutter / Oma" %>
  </div>
  <div class="checkbox">
    <%= criteria_checkbox model_name, "vater", object, "Vater / Opa" %>
  </div>
  <div class="checkbox">
    <%= criteria_checkbox model_name, "paare", object, "Paare" %>
  </div>
    <div class="checkbox">
    <%= criteria_checkbox model_name, "baby", object, "Baby" %>
  </div>
  <div class="checkbox">
    <%= criteria_checkbox model_name, "kind", object, "Kind" %>
  </div>
  <div class="checkbox">
    <%= criteria_checkbox model_name, "jugendlich", object, "Jugendlich" %>
  </div>
</div> 
<div class="category">
  <h4>Kategorien</h4>
  <div class="checkbox">
    <%= criteria_checkbox model_name, "haus", object, "Haus, Garten & Tier" %>
  </div>
  <div class="checkbox">
    <%= criteria_checkbox model_name, "elektronik", object, "Elektronik & Technik" %>
  </div>
  <div class="checkbox">
    <%= criteria_checkbox model_name, "freizeit", object, "Freizeit & Sport" %>
  </div>
  <div class="checkbox">
    <%= criteria_checkbox model_name, "beauty", object, "Beauty & Gesundheit" %>
  </div>
  <div class="checkbox">
    <%= criteria_checkbox model_name, "reisen", object, "Erlebnisse" %>
  </div>
  <div class="checkbox">
    <%= criteria_checkbox model_name, "romantisch", object, "Romantisches" %>
  </div>
  <div class="checkbox">
    <%= criteria_checkbox model_name, "mode", object, "Mode" %>
  </div>
  <div class="checkbox">
    <%= criteria_checkbox model_name, "spielzeug", object, "Spielzeug" %>
  </div>
  <div class="checkbox">
    <%= criteria_checkbox model_name, "ausgefallenes", object, "Entertainment" %>
  </div>
</div>    