<div id="home">

  <div id="intro">
    <div id="panel">
      <!-- Hast Du tolle <b>Geschenkideen</b><br />
      und möchtest sie</br />
      mit uns teilen?
      <br /><br />
      Dann werde auch ein
      <br />
      <b>GeschenkeHeld :)</b>
      <br /><br /> -->

      Werde jetzt zum <b>Geschenkeheld</b><br /><br />
      Entdecke und teile<br />jeden Tag<br />fantastische <b>Geschenkideen</b>
      <br /><br />
      <%= link_to "Einfach anmelden!", nil, :class => "btn btn-primary btn-large cta-signup" %>
    </div>

    <div id="user-pictures">
      <% @users.each_with_index do |user, index| %>
          <div class="user"><%= image_tag user.image %></div>
      <% end %>
    </div>
  </div>

  <div id="products">
    <div id="products-container">
      <% @products.each do |product| %>
          <div class="product" id="product-<%= product.id %>">
            <div class="product-image">
              <a href="<%= product_path(product.slug) %>">
                <%= image_tag product.image.url(:thumb), :alt => product.name %>
              </a>
            </div>
          </div>
      <% end %>
    </div>
  </div>


</div>