<form action="/admin/helden" method="post">
 <input type="text" id="hero1" name="hero1" value="<%= params[:hero1].name%>"><br>
 <input type="text" id="hero2" name="hero2" value="<%= params[:hero2].value%>"><br>
 <input type="text" id="hero3" name="hero3" value="<%= params[:hero3].value%>"><br>
 <textarea id="herotext1" name="herotext1"><%= params[:herotext1].value %></textarea><br>
 <textarea id="herotext2" name="herotext2"><%= params[:herotext2].value %></textarea><br>
 <input type="submit" class="btn" value="Speichern">
</form>
